.venv
.pytest_cache
*.egg-info
__pycache__
*env.sh*
asc-secret.json
asc.db
requirements.txt
Makefile

# Elastic Beanstalk Files
.ebextensions
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.DS_Store
.vscode
.git

client/dist
client/node_modules