**/.venv
**/.pytest_cache
**/.egg-info
**/__pycache__
asc-secret.json
asc.db
data
Makefile

# Elastic Beanstalk Files
.ebextensions
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.DS_Store
.vscode
.git

client/dist
client/node_modules