.venv
*.egg-info
__pycache__
*env.sh*
*secret.json
asc.db
requirements.txt
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.DS_Store
*.sublime-project
*.sublime-workspace
data
.pytest_cache
