body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

body {
  color: #777;
  display: flex;
  flex-direction: row;
}

/*
 *  MENU
 */
#menu {
  background-color: #34557f;
  position: fixed;
  height: 100vh;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  color: #fff;
}
#menu-content {
  padding: 10px 0 0 10px;
  overflow: scroll;
  padding-bottom: 20px;
}
#menu-content a {
  color: #fff;
  opacity: 0.9;
  line-height: 1.5;
}

#menu-content a:hover {
  opacity: 1;
}


#menu-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70px;
}

#menu-bottom p {
  display: inline;
  margin: 0 0 2px 0;
  font-size: 1.2em;
}

.menu-bottom__asc {
  font-weight: 700;
  letter-spacing: 0.15em;
}

.menu-bottom__study-monitor {
  letter-spacing: 0.04em;
  font-weight: 300;
}
.menu-bottom__love {
  display: block;
  font-size: 0.8em;
  font-weight: 700;
}

.menu__filter_header{
  padding: 10px 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.2em;
  opacity: 0.5;
}


.menu__filter_icon .b2 circle {
  fill: white;
  stroke: none;
}

.menu__category-link {
  font-size: 1.4em;
  padding-top: 20px !important;
  opacity: 0.9;
}

.menu__category-link:hover {
  color: #fff;
  opacity: 1;
}

.menu__category-link-label {
  font-weight: 700;
  display: inline;
}

.menu__category-link-count {
  font-weight: 300;
  letter-spacing: 0.075em;
  color: rgba(255, 255, 255, 0.6);
}

.menu__chev {
  margin-top: 6px;
  height: 14px;
  float: right; 
}

.menu__chev .a1 {
  height: 10px;
  fill: none;
  stroke: white;
  stroke-width: 3px;
}

/*
 *  Main
 */
#main {
  margin-left: 240px;
}

.top-bar {
  padding: 0 !important;
}

.title-bar {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 4px;
  border-bottom: solid 1px #E0E0E0;
}

.title-bar__input {
  border: transparent;
  background: transparent;
  outline: none;
  color: #5e5e5e;
  font-weight: 300;
  letter-spacing: 0;
  display: block;
  font-family: arial, sans-serif;
  font-size: inherit;
  padding: 10px;
  font-size: 16px;
  margin: 0;
  height: 40px;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border-bottom: 2px solid transparent;
  max-width: inherit !important;
  margin-right: inherit !important;
}

.title-bar__input:focus {
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;

  border-bottom: 2px solid #34557f;
}

.title-bar__input .data-table {
  font-size: 12px;
}

.furtherInfo {
  padding-top: 10px;
  padding-left: 56px;
  padding-bottom: 40px;
}

td.furtherInfoRow {
  border-top: 0px !important;
}

/* tr.furtherInfoRow.odd:hover {
  background-color: #f9f9f9 !important;
}

tr.furtherInfoRow.even:hover {
  background-color: #ffffff !important;
} */

.furtherInfoContent {
  text-align: justify;
}

.furtherInfoAction {
  margin: 1em 0;
}

.furtherInfoAction :last-child {
  float: right;
}

.furtherInfoHeader {
  font-size: 14;
  margin: 1em 0;
}

#ascSearch {
  padding: 0px 5px;
  margin: 0;
  height: 30px;
  width: 100%;
  font-size: 17px;
}

/*** Search ***/

.data-table {
  table-layout: fixed;
}

.data-table tbody td {
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
}

.data-table tfoot td {
  width: 100%;
}

.data-table tr.shown {
  font-weight: bold;
}

.data-table th {
  font-size: 14px;
}
.data-table thead {
  visibility: collapse;
}
.data-table thead th:nth-child(1) {
  width: 20px;
}

/*  chevron */
.data-table tbody tr:not(.furtherInfoRow) td:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  cursor: pointer;
}

.entry ul {
  margin: 0;
}
.entry li {
  display: inline-block;
  font-weight: 700;
}
.entry__disciplines {
  list-style: none;
}
.entry__disciplines a {
  color: #34557f;
  font-size: 1.2em;
  font-weight: 700;
}

.entry__authors {
  list-style: none;
}
.entry__authors a {
  color: #333;
  font-weight: 700;
  font-size: 1em;
}

.data-table h3 {
  margin-top: 0;
  font-size: 1.8em;
  color: #333;
  font-weight: 700;
  letter-spacing: 0.015em;
}

.data-table h4 ul,
.data-table h5 ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.data-table h4 li {
  background-color: #1a9da4;
}

.data-table h5 li {
  background-color: orange;
  color: #000;
}

.data-table td.dataTables_empty {
  padding: 0px !important;
}

table.dataTable thead th,
.data-table.dataTable.no-footer {
  border-bottom: 1px solid #ccc;
}

/* table.dataTable tbody td { */

/*** Spinner ***/

.datatable-spinner__row {
  height: 70vh;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

::-webkit-input-placeholder {
  /* Edge */
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 0.1em;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 0.1em;
  font-weight: 300;
}

::placeholder {
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 0.1em;
  font-weight: 300;
}
